#container {
    margin: 0 auto;
    width: 30%;
    text-align: center;
    margin-top: 50px;
}

#content {
    height: 250px;
    padding-left:0;
    padding-top:0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
    margin-top: 10px;
}

#btn {
    width: 100%;
    margin-top: 10px;
}